<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap uap5 desktop com rescap systemai">

  <Identity
    Name="7061680f-eb3f-4ac6-80be-a19a8ed0ae70"
    Publisher="CN=Petran"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>PCGet</DisplayName>
    <PublisherDisplayName>Petran</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="PCGet\PCGet.exe"
      EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
        DisplayName="PCGet"
        Description="PCGet"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask TaskId="PCGetStartup" Enabled="false" DisplayName="PCGet" />
        </uap5:Extension>

        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="B5A21D92-3D5C-4F19-A783-1B6E61D2A447" />
        </desktop:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="PCGet\PCGet.exe" Arguments="----AppNotificationActivated:" DisplayName="PCGet">
              <com:Class Id="B5A21D92-3D5C-4F19-A783-1B6E61D2A447" DisplayName="PCGet" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>